In [2]:
import pandas as pd
from src.utils.pipelines import write_all_names_data

# prenoms inventés
mean_diff = pd.read_csv("data/clean/influenced_names_means_diff.csv")
influenced_meandiff = mean_diff[mean_diff["Influence"] > 0]
# removing common identification mistakes such as "the", "a" or "Mr"
influenced_meandiff = influenced_meandiff[~influenced_meandiff["Character Name"].isin(["the", "a", "Mr"])]
print("Number of influenced names with mean diff: ", len(influenced_meandiff))
influenced_meandiff.head()

ModuleNotFoundError: No module named 'causalimpact'

In [2]:
# tous les prénoms influencés
prophet = pd.read_csv("data/clean/influenced_names_prophet.csv")
influenced_prophet = prophet[prophet["Influenced"] > 0]
# removing common identification mistakes such as "the", "a" or "Mr"
influenced_prophet = influenced_prophet[~influenced_prophet["Character Name"].isin(["the", "a", "Mr"])]
print("Number of influenced names with prophet: ", len(influenced_prophet))
print(influenced_prophet.shape)

influenced_prophet

Number of influenced names with prophet:  432
(432, 9)

,Wikipedia ID,Movie Name,Year,Character Name,Count,Full name,Normalized_name,Mean Difference,Influenced
0,451866,mission: impossible ii,2000,Ethan,18,Ethan Hunt,ETHAN,15725.466667,1
1,633411,the avengers,1998,Emma,15,Emma Peel,EMMA,14985.966667,1
2,3727473,man on fire,1987,Samantha,4,"Samantha ""Sam"" Balletto",SAMANTHA,14453.500000,1
3,347000,suspiria,1977,Sarah,15,Sarah,SARAH,14372.466667,1
5,320401,barton fink,1991,Taylor,3,Audrey Taylor,TAYLOR,13892.100000,1
...,...,...,...,...,...,...,...,...,...
1412,155997,boyz n the hood,1991,Ferris,5,Ferris,FERRIS,0.400000,1
1417,4440277,highlander,1986,Ramirez,5,Lobos Ramirez,RAMIREZ,0.333333,1
1418,1917925,what ever happened to baby jane?,1962,Hudson,38,Baby Jane Hudson,HUDSON,0.333333,1
1420,31557,"the good, the bad and the ugly",1966,Blondie,37,Blondie,BLONDIE,0.333333,1
1445,1059280,superman ii,1981,Lex,4,Lex Luthor,LEX,0.033333,1

In [1]:
df_character = write_all_names_data()
#df_gender = df_character[['Wikipedia_movie_ID', 'Actor_gender']]

#print(df_gender.shape)
#df_gender.head()

NameError: name 'write_all_names_data' is not defined

In [4]:
# Create a set of influenced names and their corresponding Wikipedia IDs
influenced_names_set = set(zip(influenced_prophet['Wikipedia ID'], influenced_prophet['Normalized_name']))

display(influenced_names_set)

len(influenced_names_set)

{(3746, 'SEBASTIAN'),
 (3746, 'TYRELL'),
 (4560, 'ISABELLA'),
 (4560, 'WILLIAM'),
 (4730, 'ROBIN'),
 (8481, 'BLAKE'),
 (8695, 'ALEXEI'),
 (9979, 'NICK'),
 (10487, 'JAKE'),
 (21180, 'OWEN'),
 (25491, 'ROCKY'),
 (28269, 'CHARLIE'),
 (28269, 'GEORGE'),
 (28269, 'MILLER'),
 (28327, 'JACKSON'),
 (29942, 'BENJAMIN'),
 (29943, 'CLARK'),
 (30006, 'JACK'),
 (30327, 'CONNOR'),
 (30327, 'KYLE'),
 (30327, 'REESE'),
 (30625, 'HADLEY'),
 (31557, 'BLONDIE'),
 (32252, 'ELIJAH'),
 (39311, 'DEAN'),
 (40672, 'MATHILDA'),
 (41528, 'BLUE'),
 (42313, 'NEIL'),
 (42886, 'ANTON'),
 (43452, 'ALI'),
 (43566, 'CHRIS'),
 (43566, 'HANNA'),
 (45481, 'SOLOMON'),
 (51888, 'DONOVAN'),
 (51888, 'HENRY'),
 (51906, 'HOLLY'),
 (51906, 'JOSE'),
 (52371, 'DAWSON'),
 (52371, 'JACK'),
 (52371, 'ROSE'),
 (52549, 'LUKE'),
 (53085, 'DAVIS'),
 (54173, 'JULES'),
 (54173, 'MIA'),
 (54175, 'PAULINE'),
 (55447, 'MACE'),
 (57820, 'KITTY'),
 (64394, 'HENRY'),
 (65834, 'OSKAR'),
 (66870, 'ANNIE'),
 (68245, 'BUCK'),
 (68245, 'MOSS'),
 (68245, 'PARKER'),
 (68485, 'ELLIE'),
 (73425, 'MICHAEL'),
 (73441, 'ELLIOTT'),
 (73467, 'ELTON'),
 (74537, 'IDA'),
 (74537, 'SAM'),
 (74830, 'BEN'),
 (74868, 'CRAWFORD'),
 (74868, 'JACY'),
 (74930, 'DAVIS'),
 (75270, 'JOSEY'),
 (76018, 'BABY'),
 (76018, 'EDDIE'),
 (76630, 'ANGEL'),
 (76630, 'DEKE'),
 (77744, 'KANE'),
 (87983, 'CHARLIE'),
 (87983, 'HOGAN'),
 (88326, 'CAMERON'),
 (88326, 'FERRIS'),
 (88326, 'SLOANE'),
 (97646, 'ALEXANDER'),
 (97646, 'EDDIE'),
 (97646, 'KRISTOFF'),
 (97646, 'THEO'),
 (97758, 'LARA'),
 (97758, 'PASHA'),
 (97758, 'TONYA'),
 (97758, 'YURI'),
 (99123, 'JACK'),
 (99123, 'PORTER'),
 (99304, 'EVELYN'),
 (99304, 'RAFE'),
 (101910, 'DUNCAN'),
 (101954, 'HANA'),
 (101954, 'TIGER'),
 (103021, 'MAX'),
 (104984, 'NICOLAI'),
 (105434, 'TOMMY'),
 (105872, 'JOSH'),
 (106117, 'SAWYER'),
 (113460, 'ELIAS'),
 (113460, 'HARRIS'),
 (113460, 'TAYLOR'),
 (123417, 'SMITH'),
 (129493, 'ANDERSON'),
 (129493, 'CAMERON'),
 (129493, 'KNOX'),
 (129493, 'NOLAN'),
 (129524, 'JACKSON'),
 (129619, 'ODA'),
 (129619, 'SAM'),
 (133574, 'LOGAN'),
 (133648, 'RANGER'),
 (142049, 'IRIS'),
 (142049, 'LEO'),
 (142417, 'JACK'),
 (142456, 'WILL'),
 (143809, 'KORBEN'),
 (145892, 'FARRELL'),
 (146236, 'BARRY'),
 (146236, 'JILLIAN'),
 (146947, 'DAILY'),
 (155997, 'BRENDA'),
 (155997, 'FERRIS'),
 (157172, 'KEVIN'),
 (161897, 'LUCAS'),
 (161912, 'REUBEN'),
 (167857, 'DEAN'),
 (167857, 'EDIE'),
 (167857, 'JACK'),
 (167857, 'KEATON'),
 (168593, 'TAYLOR'),
 (171623, 'HOYT'),
 (173944, 'ARWEN'),
 (174251, 'ARWEN'),
 (179044, 'CARL'),
 (179044, 'JOHNSON'),
 (179044, 'MARIE'),
 (179825, 'MITCHELL'),
 (179825, 'TOM'),
 (186856, 'KATHERINE'),
 (198313, 'ELORA'),
 (200694, 'DANTE'),
 (202652, 'JULIET'),
 (202652, 'ROMEO'),
 (204019, 'MAX'),
 (204019, 'SPIKE'),
 (210151, 'CHRIS'),
 (210151, 'HARRY'),
 (210151, 'NICK'),
 (210151, 'TOM'),
 (213251, 'BISHOP'),
 (213251, 'QUEEN'),
 (213270, 'PARKER'),
 (213275, 'CLARA'),
 (213472, 'CARTER'),
 (213472, 'ELLEN'),
 (213472, 'HUDSON'),
 (216072, 'MARLEY'),
 (217982, 'LACEY'),
 (219712, 'CARTER'),
 (225554, 'EVA'),
 (226198, 'JONAH'),
 (226198, 'REED'),
 (226198, 'SAM'),
 (228355, 'JACKSON'),
 (228355, 'SPENCER'),
 (231829, 'ROSE'),
 (232711, 'TRUMAN'),
 (235418, 'MARTIN'),
 (237134, 'HUNTER'),
 (237303, 'NOLAN'),
 (241171, 'MAX'),
 (242539, 'ZACHARY'),
 (248222, 'LEON'),
 (248222, 'MIA'),
 (255898, 'JESSIE'),
 (255898, 'MAX'),
 (261402, 'ROBIN'),
 (261402, 'SCARLETT'),
 (268833, 'JACK'),
 (268833, 'TIGER'),
 (277667, 'CAMPBELL'),
 (294998, 'DUNCAN'),
 (297111, 'JOE'),
 (301574, 'ARIEL'),
 (301574, 'SEBASTIAN'),
 (303928, 'ARMANDO'),
 (303928, 'CORNELIUS'),
 (303933, 'MILLER'),
 (312757, 'ALAN'),
 (312757, 'KEVIN'),
 (320401, 'TAYLOR'),
 (321496, 'SPARROW'),
 (323715, 'ACHILLES'),
 (323715, 'BRISEIS'),
 (335298, 'ANDY'),
 (337740, 'JACK'),
 (343408, 'ABIGAIL'),
 (347000, 'DANIEL'),
 (347000, 'SARAH'),
 (349941, 'CHARLIE'),
 (352795, 'ANDREWS'),
 (352795, 'MARTIN'),
 (352795, 'PETERSON'),
 (358367, 'ELLIOTT'),
 (362719, 'CLARK'),
 (362719, 'JONATHAN'),
 (370064, 'MACK'),
 (370064, 'MIA'),
 (394792, 'LOUIS'),
 (394792, 'MAX'),
 (399433, 'WILLOW'),
 (403227, 'JACK'),
 (407288, 'CARTER'),
 (407288, 'ROMAN'),
 (433414, 'VALENTINE'),
 (441315, 'PRESLEY'),
 (441926, 'ANTONIO'),
 (442308, 'BAILEY'),
 (442308, 'MAX'),
 (442308, 'PATRICK'),
 (442647, 'ELIZABETH'),
 (443718, 'ABBY'),
 (443972, 'JACK'),
 (445066, 'ALEX'),
 (445066, 'LEWIS'),
 (448735, 'BUDDY'),
 (451062, 'SAM'),
 (451866, 'ETHAN'),
 (456587, 'MAX'),
 (460052, 'HARRIS'),
 (468293, 'MILLER'),
 (471370, 'ALEX'),
 (471544, 'DEACON'),
 (471544, 'QUINN'),
 (473273, 'COOPER'),
 (473273, 'ELLIE'),
 (473273, 'ISLA'),
 (481649, 'GARNER'),
 (481649, 'GUS'),
 (489800, 'CARTER'),
 (503573, 'DAVIS'),
 (511228, 'MANNY'),
 (511622, 'CLARK'),
 (513149, 'ALAN'),
 (520990, 'COLEMAN'),
 (520990, 'LOUIS'),
 (525113, 'JOSEPHINE'),
 (525113, 'WYATT'),
 (525314, 'KING'),
 (525314, 'LILLIAN'),
 (535335, 'MANNY'),
 (564947, 'SONNY'),
 (583012, 'SAM'),
 (598868, 'MAX'),
 (612052, 'JAMESON'),
 (612052, 'OTTO'),
 (618929, 'JACK'),
 (618929, 'LOUIS'),
 (618929, 'OSCAR'),
 (633411, 'EMMA'),
 (648921, 'ARCHER'),
 (648921, 'EVE'),
 (654530, 'TRISTAN'),
 (657446, 'MAX'),
 (666923, 'CARTER'),
 (666923, 'ISLA'),
 (666923, 'OWEN'),
 (667368, 'HERMIONE'),
 (667368, 'LUCIUS'),
 (667372, 'VIKTOR'),
 (673472, 'MAX'),
 (673472, 'SAM'),
 (676909, 'AMELIA'),
 (676909, 'CRUZ'),
 (676909, 'VIKTOR'),
 (680361, 'BABY'),
 (680361, 'JAKE'),
 (684771, 'BANKS'),
 (685977, 'BRYCE'),
 (685977, 'JAKE'),
 (685977, 'SAMANTHA'),
 (692661, 'CARLITO'),
 (695227, 'LEO'),
 (695266, 'JACK'),
 (695780, 'FRANKIE'),
 (695780, 'MCKENNA'),
 (695780, 'SAM'),
 (697113, 'JACK'),
 (697113, 'LO'),
 (706878, 'DARIAN'),
 (706878, 'MIKE'),
 (707808, 'AVI'),
 (707808, 'SOL'),
 (707808, 'VINNIE'),
 (716738, 'WILLIAM'),
 (724258, 'ETHAN'),
 (724258, 'MAX'),
 (725103, 'TOMMY'),
 (725459, 'DAMIEN'),
 (725459, 'REGAN'),
 (751724, 'ANDY'),
 (870946, 'ABBOTT'),
 (872441, 'SAM'),
 (919013, 'JOANNA'),
 (920296, 'ELISE'),
 (920296, 'MCKENNA'),
 (920296, 'WILLIAM'),
 (924771, 'QUENTIN'),
 (933321, 'COLT'),
 (950929, 'HILL'),
 (957359, 'EVELYN'),
 (997939, 'PHOEBE'),
 (1048388, 'HARLEY'),
 (1048695, 'JONATHAN'),
 (1048695, 'LUCY'),
 (1059280, 'CLARK'),
 (1059280, 'KENT'),
 (1059280, 'LEX'),
 (1059701, 'CLARK'),
 (1125221, 'ELLEN'),
 (1125221, 'RUBY'),
 (1145761, 'JONATHAN'),
 (1145761, 'WYATT'),
 (1160412, 'SAM'),
 (1210303, 'CONSTANTINE'),
 (1210303, 'LUCIFER'),
 (1213838, 'WOODY'),
 (1277918, 'CHARLIE'),
 (1287385, 'FRANKIE'),
 (1287385, 'MACK'),
 (1345521, 'DUNCAN'),
 (1353086, 'SARAH'),
 (1385251, 'GREY'),
 (1397377, 'PAGE'),
 (1411169, 'ANDREI'),
 (1412408, 'BRADEN'),
 (1428048, 'CORA'),
 (1428048, 'DUNCAN'),
 (1428048, 'JACK'),
 (1449256, 'WALKER'),
 (1485962, 'DORIAN'),
 (1584998, 'CLARE'),
 (1627058, 'NICOLE'),
 (1627058, 'SIMON'),
 (1645634, 'PHILIP'),
 (1645634, 'RUSTY'),
 (1745050, 'SMITH'),
 (1814329, 'WILSON'),
 (1854000, 'DANIELS'),
 (1880660, 'ASLAN'),
 (1917925, 'HUDSON'),
 (2162986, 'CHRIS'),
 (2216381, 'BENNETT'),
 (2236472, 'LENNOX'),
 (2251266, 'LINUS'),
 (2251266, 'REUBEN'),
 (2270205, 'JORGE'),
 (2274938, 'ALICE'),
 (2274938, 'PAMELA'),
 (2312056, 'DARCY'),
 (2422489, 'JEREMY'),
 (2465797, 'LEONIDAS'),
 (2580403, 'CHRIS'),
 (2809621, 'ALFRED'),
 (2829485, 'FANTASIA'),
 (3185575, 'AVERY'),
 (3557540, 'JACK'),
 (3569822, 'SOL'),
 (3600824, 'HAILEY'),
 (3600824, 'HARRY'),
 (3616797, 'MAXIMUS'),
 (3700174, 'SAM'),
 (3700174, 'SHEPHERD'),
 (3727473, 'ELEANOR'),
 (3727473, 'SAMANTHA'),
 (3793631, 'FARON'),
 (3917873, 'JEMIMA'),
 (4440277, 'CONNOR'),
 (4440277, 'RAMIREZ'),
 (4453691, 'ARCHER'),
 (4549625, 'JOHAN'),
 (4608223, 'BERNARDO'),
 (4836572, 'NOAH'),
 (4846576, 'EVELYN'),
 (5667453, 'CARLOS'),
 (5735396, 'ELIZABETH'),
 (5842075, 'LUCY'),
 (5842075, 'RAOUL'),
 (5871867, 'LOGAN'),
 (5878044, 'BEN'),
 (5878044, 'MARION'),
 (5878044, 'MIRANDA'),
 (5878044, 'SARA'),
 (6043780, 'HARRIS'),
 (6254878, 'JULES'),
 (6492614, 'OSCAR'),
 (6804043, 'NOAH'),
 (6816597, 'ROBERTO'),
 (6816597, 'VALENTINA'),
 (7024876, 'CORNELIUS'),
 (7047921, 'DWAYNE'),
 (7668793, 'KILLIAN'),
 (8138535, 'CORIE'),
 (8930957, 'CHRIS'),
 (9830229, 'ABRAHAM'),
 (10507423, 'THOMAS'),
 (10645970, 'SHANKAR'),
 (11077335, 'LARA'),
 (11077335, 'TONYA'),
 (11077335, 'YURI'),
 (11862690, 'JUNO'),
 (12319656, 'JACOB'),
 (12555863, 'CYRUS'),
 (17917662, 'NOAH'),
 (18618306, 'CORNELIUS'),
 (18951054, 'JOHNSON'),
 (18952889, 'MARCUS'),
 (19625929, 'FOSTER'),
 (20179415, 'ANNIE'),
 (20179415, 'LINDSEY'),
 (20179415, 'MICHAEL'),
 (23265233, 'PARKER'),
 (23487440, 'ASH'),
 (23808966, 'LOGAN'),
 (26742350, 'ABIGAIL'),
 (32411644, 'HUGO'),
 (34344124, 'CONNOR'),
 (34344124, 'DYSON'),
 (35919373, 'LEE'),
 (35919373, 'LORENE')}

426

In [9]:
# Suppose influenced_prophet and df_character are your existing DataFrames
# influenced_prophet: columns -> 'Normalized_name', 'Wikipedia ID'
# df_character: columns -> 'Character_name', 'Wikipedia_movie_ID'

# 1. Create a dictionary that maps each Wikipedia ID to a list of influenced normalized names
names_by_wid = (
    influenced_prophet
    .groupby('Wikipedia ID')['Normalized_name']
    .apply(list)
    .to_dict()
)

# 2. Define a function to check if any influenced normalized name is contained in the Character_name
def has_influenced_name(row):
    wid = row['Wikipedia_movie_ID']
    char_name = row['Character_name']
    # Get the influenced names for the given Wikipedia_movie_ID (if any)
    possible_names = names_by_wid.get(wid, [])
    # Check if Character_name contains any of these influenced normalized names
    return any(name in char_name for name in possible_names)

# 3. Filter df_character to keep only rows that contain at least one influenced name
filtered_df_character = df_character[df_character.apply(has_influenced_name, axis=1)]

# Print the result
print(filtered_df_character)

        Wikipedia_movie_ID Release_date           Character_name   Actor_DOB  \
106                 167857          NaN                JACK BAER  1958-04-26
108                 167857          NaN            EDIE FINNERAN  1962-01-05
110                 167857          NaN              DEAN KEATON  1950-05-12
344                 362719   1978-12-10               CLARK KENT  1952-09-25
352                 362719   1978-12-10            JONATHAN KENT  1916-05-01
...                    ...          ...                      ...         ...
168924              101954   1996-11-06                     HANA  1964-03-09
170725               52549   1977-05-25           LUKE SKYWALKER  1951-09-25
171484            19625929   1993-02-26  WILLIAM 'D-FENS' FOSTER  1944-09-25
171490            19625929   1993-02-26     ADELE FOSTER-TRAVINO         NaN
171620               43452   1962-12-10               SHERIF ALI  1932-04-10

       Actor_gender  Actor_height          Actor_name  Actor_age
106               M         1.715  GIANCARLO ESPOSITO        NaN
108               F         1.720           SUZY AMIS        NaN
110               M         1.784       GABRIEL BYRNE        NaN
344               M         1.930   CHRISTOPHER REEVE       26.0
352               M         1.803          GLENN FORD       62.0
...             ...           ...                 ...        ...
168924            F         1.680    JULIETTE BINOCHE       32.0
170725            M         1.750         MARK HAMILL       25.0
171484            M         1.780     MICHAEL DOUGLAS       48.0
171490          NaN           NaN    JOEY HOPE SINGER        NaN
171620            M         1.800         OMAR SHARIF       30.0

[328 rows x 8 columns]

In [5]:
# Check which are the missing IDs
missing_ids = set(influenced_prophet['Wikipedia ID']) - set(df_character['Wikipedia_movie_ID'])
print("Number of missing IDs:", len(missing_ids))
print("Missing IDs:", missing_ids)

Number of missing IDs: 11
Missing IDs: {1411169, 751724, 35919373, 51888, 23265233, 2270205, 6816597, 4549625, 2274938, 32411644, 513149}

In [6]:
# Filter df_character to get rows where 'Character_name' contains influenced names for the same Wikipedia ID
filtered_df_character = df_character[df_character.apply(lambda row: (row['Wikipedia_movie_ID'], row['Character_name']) in influenced_names_set, axis=1)]

# Print the filtered DataFrame
filtered_df_character

,Wikipedia_movie_ID,Release_date,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_name,Actor_age
1692,103021,1978-08-31,MAX,1940-01-22,M,1.7500,JOHN HURT,38.0
15769,481649,1992-03-20,GUS,1945-07-19,M,1.7800,GEORGE DZUNDZA,46.0
18168,520990,1983-06-08,COLEMAN,1922-05-31,M,1.8160,DENHOLM ELLIOTT,61.0
22613,97758,1965-12-22,TONYA,1944-07-31,F,1.6500,GERALDINE CHAPLIN,21.0
24022,685977,1984-05-04,BRYCE,1966-06-28,M,1.8700,JOHN CUSACK,17.0
25170,248222,2001-06-18,LEON,NaN,M,NaN,JOHNNY STRONG,NaN
25551,1449256,1967-08-30,WALKER,1924-02-19,M,1.8800,LEE MARVIN,43.0
26959,97646,1988-07-15,THEO,1955-12-24,M,1.7500,CLARENCE GILYARD,32.0
26960,97646,1988-07-15,ALEXANDER,NaN,NaN,NaN,JOEY PLEWA,NaN
31198,76630,1969-06-18,ANGEL,1973-03-20,M,1.7500,JAIME SANCHEZ FERNANDEZ,-3.0
31980,3569822,2001-12-13,SOL,1970-10-25,M,1.8000,ADAM GOLDBERG,31.0
33113,174251,2003-12-17,ARWEN,1977-07-01,F,1.7800,LIV TYLER,26.0
35868,4730,1995-06-09,ROBIN,1970-06-26,M,1.7800,CHRIS O'DONNELL,24.0
36869,216072,1990-11-10,MARLEY,1924-03-25,M,NaN,ROBERTS BLOSSOM,66.0
37771,442647,1974-12-15,ELIZABETH,1942-09-29,F,1.6000,MADELINE KAHN,32.0
38995,5878044,1975-08-08,MIRANDA,1955-08-21,F,1.8200,ANNE LOUISE LAMBERT,19.0
38997,5878044,1975-08-08,MARION,NaN,NaN,NaN,JANE VALLIS,NaN
38999,5878044,1975-08-08,SARA,NaN,NaN,NaN,MARGARET NELSON,NaN
42237,210151,1998-08-28,TOM,1966-09-25,M,1.8500,JASON FLEMYNG,31.0
43712,73425,1978-12-08,MICHAEL,1943-08-17,M,1.7700,ROBERT DE NIRO,35.0
44121,5871867,1976-06-23,LOGAN,1942-03-27,M,1.8000,MICHAEL YORK,34.0
57355,349941,1999-09-02,CHARLIE,1965-09-03,M,1.7500,CHARLIE SHEEN,33.0
62060,4608223,1961-10-18,BERNARDO,1934-09-16,M,NaN,GEORGE CHAKIRIS,27.0
62697,443718,1978-09-13,ABBY,1949-02-08,F,1.6500,BROOKE ADAMS,29.0
64200,51906,1961-10-05,JOSE,1920-01-29,M,NaN,JOSE LUIS DE VILLALONGA,41.0
67857,358367,1977-11-03,ELLIOTT,1924-12-20,M,NaN,CHARLIE CALLAS,52.0
71257,6254878,2007-08-17,JULES,1988-11-06,F,1.6764,EMMA STONE,18.0
71322,105872,1995-07-19,JOSH,1969-04-06,M,1.7800,PAUL RUDD,26.0
71537,23487440,1979-05-25,ASH,1931-09-12,M,1.6510,IAN HOLM,47.0
77781,471544,1998-08-19,QUINN,1966-02-27,M,1.7840,DONAL LOGUE,32.0
90052,323715,2004-05-13,ACHILLES,1963-12-18,M,1.8000,BRAD PITT,40.0
90065,323715,2004-05-13,BRISEIS,1979-07-24,F,1.6800,ROSE BYRNE,24.0
93726,173944,2002-12-05,ARWEN,1977-07-01,F,1.7800,LIV TYLER,25.0
96100,213251,1992-05-22,BISHOP,1940-05-05,M,1.7800,LANCE HENRIKSEN,52.0
96630,18618306,1968-02-08,CORNELIUS,1928-09-17,M,1.7800,RODDY MCDOWALL,39.0
100311,535335,2005-06-13,MANNY,NaN,M,NaN,LENNY VENITO,NaN
101746,8930957,NaN,CHRIS,1961-10-26,M,1.8300,DYLAN MCDERMOTT,NaN
103238,707808,2000-08-23,SOL,1965-10-11,M,1.7650,LENNIE JAMES,34.0
106142,204019,1999-05-13,SPIKE,1967-07-22,M,1.8800,RHYS IFANS,31.0
106150,204019,1999-05-13,MAX,1956-09-18,M,1.8500,TIM MCINNERNY,42.0
106242,370064,2003-09-07,MIA,1971-08-13,F,1.7300,HEIKE MAKATSCH,32.0
111992,40672,1994-09-14,MATHILDA,1981-06-09,F,1.6000,NATALIE PORTMAN,13.0
116419,303928,1971-05-21,CORNELIUS,1928-09-17,M,1.7800,RODDY MCDOWALL,42.0
123990,673472,1987-07-31,SAM,1971-12-23,M,1.6830,COREY HAIM,15.0
123995,673472,1987-07-31,MAX,1943-07-21,M,1.9560,EDWARD HERRMANN,44.0
125617,5842075,1998-05-15,LUCY,1980-02-12,F,1.5500,CHRISTINA RICCI,18.0
142005,335298,1999-11-19,ANDY,1984-10-02,M,NaN,JOHN MORRIS,15.0
142395,105434,1996-02-23,TOMMY,1973-08-09,M,1.8300,KEVIN MCKIDD,22.0
143058,17917662,2004-11-20,NOAH,1980-11-12,M,1.8500,RYAN GOSLING,24.0
148200,724258,1996-05-22,MAX,1937-01-30,F,1.8000,VANESSA REDGRAVE,59.0
148717,473273,2001-07-18,COOPER,1950-05-01,M,1.8300,JOHN DIEHL,51.0
153650,10487,1987-03-13,JAKE,1951-07-19,M,NaN,DAN HICKS,35.0
160108,564947,2004-07-15,SONNY,1971-03-16,M,1.8300,ALAN TUDYK,33.0
163667,1880660,2005-12-07,ASLAN,1952-06-07,M,1.9300,LIAM NEESON,53.0
168924,101954,1996-11-06,HANA,1964-03-09,F,1.6800,JULIETTE BINOCHE,32.0

In [ ]:
df_gender_influenced = pd.merge(influenced_prophet, df_gender, left_on='Wikipedia ID', right_on='Wikipedia_movie_ID', how='left') 

print(df_gender_influenced.shape)
df_gender_influenced.head()

In [ ]:
# Suppose influenced_prophet and df_character are your existing DataFrames
# influenced_prophet: columns -> 'Normalized_name', 'Wikipedia ID'
# df_character: columns -> 'Character_name', 'Wikipedia_movie_ID'

# 1. Create a dictionary that maps each Wikipedia ID to a list of influenced normalized names
names_by_wid = (
    influenced_prophet
    .groupby('Wikipedia ID')['Normalized_name']
    .apply(list)
    .to_dict()
)

# 2. Define a function to check if any influenced normalized name is contained in the Character_name
def has_influenced_name(row):
    wid = row['Wikipedia_movie_ID']
    char_name = row['Character_name']
    # Get the influenced names for the given Wikipedia_movie_ID (if any)
    possible_names = names_by_wid.get(wid, [])
    # Check if Character_name contains any of these influenced normalized names
    return any(name in char_name for name in possible_names)

# 3. Filter df_character to keep only rows that contain at least one influenced name
filtered_df_character = df_character[df_character.apply(has_influenced_name, axis=1)]

# Print the result
print(filtered_df_character)

In [8]:
# Get the unique IDs from both DataFrames
prophet_ids = set(influenced_prophet['Wikipedia ID'].unique())
character_ids = set(df_character['Wikipedia_movie_ID'].unique())

# Find which IDs are in influenced_prophet but not in df_character
missing_ids = prophet_ids - character_ids

print("Number of missing IDs:", len(missing_ids))
print("Missing IDs:", missing_ids)

Number of missing IDs: 11
Missing IDs: {1411169, 751724, 35919373, 51888, 23265233, 2270205, 6816597, 4549625, 2274938, 32411644, 513149}

In [7]:
# Initialize a set to track matched influenced names
matched_names = set()

# Iterate through each row in influenced_prophet
for _, row in influenced_prophet.iterrows():
    wikipedia_id = row['Wikipedia ID']
    normalized_name = row['Normalized_name']
    
    # Check if this name appears in any Character_name for the same Wikipedia ID
    is_matched = df_character[
        (df_character['Wikipedia_movie_ID'] == wikipedia_id) &
        (df_character['Character_name'].str.contains(normalized_name, na=False))
    ].shape[0] > 0
    
    if is_matched:
        matched_names.add((wikipedia_id, normalized_name))

# Compare the count of matched names with the total number of rows in influenced_prophet
total_influenced_names = len(influenced_prophet)
matched_count = len(matched_names)

print(f"Total influenced names: {total_influenced_names}")
print(f"Matched influenced names: {matched_count}")
print(f"Unmatched names count: {total_influenced_names - matched_count}")

# If needed, list the unmatched rows
unmatched_rows = influenced_prophet[~influenced_prophet.apply(
    lambda row: (row['Wikipedia ID'], row['Normalized_name']) in matched_names,
    axis=1
)]

print("Unmatched rows:")
print(unmatched_rows)

Total influenced names: 432
Matched influenced names: 295
Unmatched names count: 137
Unmatched rows:
      Wikipedia ID                      Movie Name  Year Character Name  \
2          3727473                     man on fire  1987       Samantha
3           347000                        suspiria  1977          Sarah
38          242539      an officer and a gentleman  1982        Zachary
39          168593           good morning, vietnam  1987         Taylor
41         1428048        the last of the mohicans  1992           Jack
...            ...                             ...   ...            ...
1348        133648                scent of a woman  1992         Ranger
1351       1210303                     constantine  2005        Lucifer
1367        950929                    the haunting  1963           Hill
1412        155997                 boyz n the hood  1991         Ferris
1420         31557  the good, the bad and the ugly  1966        Blondie

      Count                                   Full name Normalized_name  \
2         4                     Samantha "Sam" Balletto        SAMANTHA
3        15                                       Sarah           SARAH
38       28                              Zachary "Zack"         ZACHARY
39        4                                      Taylor          TAYLOR
41        2                               Jack Winthrop            JACK
...     ...                                         ...             ...
1348      8  Army Ranger Lieutenant Colonel Frank Slade          RANGER
1351      9                                     Lucifer         LUCIFER
1367      4                                  Hill House            HILL
1412      5                                      Ferris          FERRIS
1420     37                                     Blondie         BLONDIE

      Mean Difference  Influenced
2        14453.500000           1
3        14372.466667           1
38        5966.700000           1
39        5762.700000           1
41        5517.866667           1
...               ...         ...
1348         1.250000           1
1351         1.250000           1
1367         1.000000           1
1412         0.400000           1
1420         0.333333           1

[132 rows x 9 columns]

In [10]:
import src.utils.pipelines as pip

ModuleNotFoundError: No module named 'spacy'