### Loading dataset

In [1]:
import pandas as pd
import os
%matplotlib inline

DATA_FOLDER = 'data/raw/'

CHARACTER_METADATASET = DATA_FOLDER+"character.metadata.tsv"
MOVIE_METADATASET = DATA_FOLDER+"movie.metadata.tsv"
PLOT_SUMMARIES = DATA_FOLDER+"plot_summaries.txt"
NAME_CLUSTER = DATA_FOLDER+"name.clusters.txt"
TVTROPES = DATA_FOLDER+"tvtropes.clusters.txt"

In [2]:
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\Pauline\Documents\EPFL\Master\MA3\ada\ada-2024-project-dondata2025

#### Character

In [3]:
# Character metadata
character = pd.read_csv(CHARACTER_METADATASET, delimiter='\t')
print("shape:", character.shape)
character.head(2)

shape: (450668, 13)

,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,Unnamed: 7,Wanda De Jesus,42,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
0,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
1,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l

In [4]:
# Naming the columns of the dataframes
character.columns = ['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Release_date','Character_name', 'Actor_DOB', 'Actor_gender', 'Actor_height', 'Actor_ethnicity', 'Actor_name', 'Actor_age', 'Freebase_character_map', ' Freebase character ID','Freebase actor ID '] 

#creating a header line for the movie_metadata
character.head(2)

,Wikipedia_movie_ID,Freebase_movie_ID,Release_date,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
1,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l

In [5]:
# is wikipedia_movie_ID unique?
print("wikipedia_movie_ID unique?", character.Wikipedia_movie_ID.is_unique)

wikipedia_movie_ID unique? False

In [6]:
# print the line of the 3196793 wikipedia_movie_ID
character[character.Wikipedia_movie_ID == 3196793].head()

,Wikipedia_movie_ID,Freebase_movie_ID,Release_date,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
16,3196793,/m/08yl5d,2000-02-16,Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw
17,3196793,/m/08yl5d,2000-02-16,Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm
18,3196793,/m/08yl5d,2000-02-16,NaN,NaN,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh
19,3196793,/m/08yl5d,2000-02-16,NaN,NaN,F,NaN,NaN,Hildy Brooks,NaN,/m/0lr37ff,NaN,/m/0gc9cpb
20,3196793,/m/08yl5d,2000-02-16,FBI Profiler Robert Hanks,1950-01-05,M,NaN,NaN,Robert Catrini,50.0,/m/0lr37g7,/m/0lr3z93,/m/0gbxsl5

#### Movies

In [7]:
movie_metadata = pd.read_csv(MOVIE_METADATASET, delimiter='\t')
print("shape:", movie_metadata.shape)
movie_metadata.head(1)

shape: (81740, 9)

,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science Fiction"", ""/m/03npn"": ""Horror"", ""/m/03k9fj"": ""Adventure"", ""/m/0fdjb"": ""Supernatural"", ""/m/02kdv5l"": ""Action"", ""/m/09zvmj"": ""Space western""}"
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [8]:
# Naming the columns of the dataframes
movie_metadata.columns = ['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Movie_name', 'Release_date', 'Revenue', 'Runtime', 'Languages', 'Countries', 'Genres'] 

#creating a header line for the movie_metadata
movie_metadata.head(1)

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [9]:
# is wikipedia_movie_ID unique?
print("wikipedia_movie_ID unique?", movie_metadata.Wikipedia_movie_ID.is_unique)

wikipedia_movie_ID unique? True

#### Merging

In [10]:
# printing size of both dataframes
print("movie_metadata size:", movie_metadata.shape)
print("character size:", character.shape)

movie_metadata size: (81740, 9)
character size: (450668, 13)

In [12]:
df = pd.merge(movie_metadata, character, on=['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Release_date' ])
print("shape:", df.shape)
df.head(3)

shape: (450652, 19)

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm
2,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",NaN,NaN,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh

In [13]:
# is wikipedia_movie_ID unique?
print("wikipedia_movie_ID unique?", df.Wikipedia_movie_ID.is_unique)

wikipedia_movie_ID unique? False

#### Dealing with unreadable features

In [ ]:
import pandas as pd
import json

In [ ]:
# Define a general function to parse JSON-like strings and extract data based on the column name
def extract_data_from_column(data, column_name):
    if pd.notna(data):
        # Check if the entry is already a dictionary
        if isinstance(data, dict):
            data_dict = data
        else:
            try:
                # Convert string representation of a dictionary to an actual dictionary
                data_dict = json.loads(data.replace("'", '"'))
            except Exception as e:
                return None  # Handle cases where conversion fails

        # Extract and process data based on the column type
        if column_name in ['Languages', 'Countries']:
            # Simplify by removing common suffix like "Language" or "Country" if needed
            return ', '.join(value.replace(" Language", "").replace(" Country", "") for value in data_dict.values())
        elif column_name == 'Genres':
            # For genres, extract the human-readable part after the colon if present
            return ', '.join(genre.split(': ')[-1] if ': ' in genre else genre for genre in data_dict.values())
        else:
            # Default behavior: join values with a comma
            return ', '.join(data_dict.values())
    return None

In [14]:
# Apply the function to different columns based on their type
for column in ['Languages', 'Countries', 'Genres']:
    df[column] = df[column].apply(lambda x: extract_data_from_column(x, column))

# Display the first few rows of the DataFrame to verify the modified columns
df.head()

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm
2,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaN,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh
3,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaN,F,NaN,NaN,Hildy Brooks,NaN,/m/0lr37ff,NaN,/m/0gc9cpb
4,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",FBI Profiler Robert Hanks,1950-01-05,M,NaN,NaN,Robert Catrini,50.0,/m/0lr37g7,/m/0lr3z93,/m/0gbxsl5

## Looking at the data

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450652 entries, 0 to 450651
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Wikipedia_movie_ID      450652 non-null  int64
 1   Freebase_movie_ID       450652 non-null  object
 2   Movie_name              450652 non-null  object
 3   Release_date            440657 non-null  object
 4   Revenue                 101011 non-null  float64
 5   Runtime                 400182 non-null  float64
 6   Languages               450652 non-null  object
 7   Countries               450652 non-null  object
 8   Genres                  438356 non-null  object
 9   Character_name          192778 non-null  object
 10  Actor_DOB               344511 non-null  object
 11  Actor_gender            405043 non-null  object
 12  Actor_height            154815 non-null  float64
 13  Actor_ethnicity         106054 non-null  object
 14  Actor_name              449424 non-null  object
 15  Actor_age               292543 non-null  float64
 16  Freebase_character_map  450652 non-null  object
 17   Freebase character ID  192788 non-null  object
 18  Freebase actor ID       449837 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 65.3+ MB

In [18]:
df.dtypes

Wikipedia_movie_ID                 int64
Freebase_movie_ID                 object
Movie_name                        object
Release_date              datetime64[ns]
Revenue                          float64
Runtime                          float64
Languages                         object
Countries                         object
Genres                            object
Character_name                    object
Actor_DOB                         object
Actor_gender                      object
Actor_height                     float64
Actor_ethnicity                   object
Actor_name                        object
Actor_age                        float64
Freebase_character_map            object
 Freebase character ID            object
Freebase actor ID                 object
dtype: object

In [17]:
# Looking at my data types, I see that the Release_date column is an object. I will convert it to a datetime object.

df['Release_date'] = pd.to_datetime(df['Release_date'], errors='coerce')

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm
2,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaN,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh
3,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaN,F,NaN,NaN,Hildy Brooks,NaN,/m/0lr37ff,NaN,/m/0gc9cpb
4,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",FBI Profiler Robert Hanks,1950-01-05,M,NaN,NaN,Robert Catrini,50.0,/m/0lr37g7,/m/0lr3z93,/m/0gbxsl5

In [20]:
# Actor_DOB is also an object. I will convert it to a datetime object.
df['Actor_DOB'] = pd.to_datetime(df['Actor_DOB'], errors='coerce')

In [22]:
df.dtypes

Wikipedia_movie_ID                 int64
Freebase_movie_ID                 object
Movie_name                        object
Release_date              datetime64[ns]
Revenue                          float64
Runtime                          float64
Languages                         object
Countries                         object
Genres                            object
Character_name                    object
Actor_DOB                 datetime64[ns]
Actor_gender                      object
Actor_height                     float64
Actor_ethnicity                   object
Actor_name                        object
Actor_age                        float64
Freebase_character_map            object
 Freebase character ID            object
Freebase actor ID                 object
dtype: object

In [23]:
df.head(50)

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age,Freebase_character_map,Freebase character ID,Freebase actor ID
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Police Officer,NaT,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm
2,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh
3,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,F,NaN,NaN,Hildy Brooks,NaN,/m/0lr37ff,NaN,/m/0gc9cpb
4,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",FBI Profiler Robert Hanks,1950-01-05,M,NaN,NaN,Robert Catrini,50.0,/m/0lr37g7,/m/0lr3z93,/m/0gbxsl5
5,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",John Ramsey,1945-02-12,M,1.850,NaN,Cliff DeYoung,55.0,/m/0lr37f7,/m/0lr3z8x,/m/07jbhb
6,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,1959-05-05,M,NaN,NaN,Gary Dubin,40.0,/m/0lr37f2,NaN,/m/02pnjkh
7,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",Patsy Ramsey,1964-07-12,F,1.630,NaN,Judi Evans,35.0,/m/0lr37g2,/m/0lr3z8p,/m/034c1p
8,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",JonBenet Ramsey,NaT,F,NaN,NaN,Julia Granstrom,6.0,/m/0lr37ds,/m/0lr3z87,/m/08w75d
9,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,1959-10-08,M,NaN,NaN,Brad Greenquist,40.0,/m/0lr37dm,NaN,/m/0k1vd2
10,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,1937-11-10,M,NaN,/m/0x67,Albert Hall,62.0,/m/0lr37dy,NaN,/m/01lntp
11,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,M,NaN,NaN,Brad Heller,NaN,/m/0lr37fx,NaN,/m/0clffnj
12,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,M,NaN,NaN,Jeff Juday,NaN,/m/0lr37df,NaN,/m/0ddztn
13,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,M,NaN,NaN,Chris Krisea,51.0,/m/0lr37fr,NaN,/m/0gcdnn4
14,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",NaN,NaT,M,NaN,NaN,J. Patrick McCormack,NaN,/m/0lr37d3,NaN,/m/03z8yd9
15,28463795,/m/0crgdbh,Brun bitter,NaT,NaN,83.0,Norwegian,Norway,"Crime Fiction, Drama",NaN,1954-10-05,M,NaN,NaN,Frank Krog,33.0,/m/0gct1bn,NaN,/m/053j7xf
16,28463795,/m/0crgdbh,Brun bitter,NaT,NaN,83.0,Norwegian,Norway,"Crime Fiction, Drama",NaN,1959-02-28,F,NaN,NaN,Kristin Kajander,28.0,/m/0gct1bv,NaN,/m/0gct1by
17,28463795,/m/0crgdbh,Brun bitter,NaT,NaN,83.0,Norwegian,Norway,"Crime Fiction, Drama",NaN,NaT,M,NaN,NaN,Vidar Sandem,40.0,/m/0gct1c5,NaN,/m/0bwh7d8
18,28463795,/m/0crgdbh,Brun bitter,NaT,NaN,83.0,Norwegian,Norway,"Crime Fiction, Drama",NaN,1957-02-04,F,NaN,NaN,Anne Krigsvoll,30.0,/m/0gct1cb,NaN,/m/04ghdvq
19,9363483,/m/0285_cd,White Of The Eye,NaT,NaN,110.0,English,United Kingdom,"Thriller, Erotic thriller, Psychological thriller",NaN,1954-05-08,M,1.830,NaN,David Keith,32.0,/m/02t9_0c,NaN,/m/036496
20,9363483,/m/0285_cd,White Of The Eye,NaT,NaN,110.0,English,United Kingdom,"Thriller, Erotic thriller, Psychological thriller",NaN,1960-11-29,F,1.750,NaN,Cathy Moriarty,26.0,/m/02vct27,NaN,/m/07g60h
21,261236,/m/01mrr1,A Woman in Flames,NaT,NaN,106.0,German,Germany,Drama,NaN,1950-06-20,F,NaN,NaN,Gudrun Landgrebe,32.0,/m/02vb3cv,NaN,/m/09d6hv
22,261236,/m/01mrr1,A Woman in Flames,NaT,NaN,106.0,German,Germany,Drama,NaN,1950-08-02,M,NaN,NaN,Mathieu Carrière,32.0,/m/02tbd9f,NaN,/m/06prxs
23,261236,/m/01mrr1,A Woman in Flames,NaT,NaN,106.0,German,Germany,Drama,NaN,1947-06-18,M,NaN,NaN,Hanns Zischler,35.0,/m/02vdfng,NaN,/m/09k3x_
24,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"Silent film, English",United States of America,"Short Film, Silent film, Indie, Black-and-whit...",Cop,1887-03-24,M,1.780,/m/07bch9,Roscoe Arbuckle,NaN,/m/040l8c4,/m/0h5km4p,/m/0k57l
25,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,NaT,NaN,NaN,NaN,Sean Taylor,NaN,/m/0gbxfl0,NaN,/m/0gbxfl4
26,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",Morgana,1960-03-24,F,1.727,NaN,Kelly LeBrock,41.0,/m/04lrj09,/m/0h0rbm6,/m/04tyj3
27,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,1953-06-26,M,1.880,NaN,Robert Davi,48.0,/m/04lrj0g,NaN,/m/02bcvd
28,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,NaT,M,NaN,NaN,David Lister,NaN,/m/0cvcz0m,NaN,/m/063ptkj
29,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,1972-09-12,M,1.770,NaN,Gideon Emery,29.0,/m/0cvcjh7,NaN,/m/0dcbks
30,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,NaT,NaN,NaN,NaN,Greg Melvill-Smith,NaN,/m/0gc7cbl,NaN,/m/0gbxft8
31,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,NaT,NaN,NaN,NaN,Dale Cutts,NaN,/m/0gcbx9z,NaN,/m/0gc56wv
32,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaT,NaN,86.0,English,South Africa,"Family Film, Fantasy, Adventure, World cinema",NaN,1986-06-02,M,NaN,NaN,Byron Taylor,15.0,/m/0gckmk4,NaN,/m/0gckmk8
33,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,English,United States of America,"Musical, Comedy, Black-and-white",NaN,1908-01-16,F,NaN,NaN,Ethel Merman,30.0,/m/02vctvm,NaN,/m/0pkw7
34,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,English,United States of America,"Musical, Comedy, Black-and-white",Roger Grant AKA Alexander,1914-05-05,M,1.820,/m/06v41q,Tyrone Power,24.0,/m/02vbvj2,/m/0h36wrs,/m/02s58t
35,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,English,United States of America,"Musical, Comedy, Black-and-white",NaN,1915-05-05,F,1.650,/m/033tf_,Alice Faye,23.0,/m/02vbq8t,NaN,/m/032xfz
36,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,English,United States of America,"Musical, Comedy, Black-and-white",NaN,1908-05-31,M,1.791,NaN,Don Ameche,30.0,/m/02vbjy4,NaN,/m/02l0xc
37,2345652,/m/075f66,City of the Dead,NaT,NaN,76.0,English,United Kingdom,"Horror, Supernatural",NaN,1922-05-27,M,1.960,NaN,Christopher Lee,37.0,/m/02vcmfp,NaN,/m/0f0kz
38,2345652,/m/075f66,City of the Dead,NaT,NaN,76.0,English,United Kingdom,"Horror, Supernatural",NaN,1938-03-10,F,NaN,NaN,Venetia Stevenson,21.0,/m/03l9df5,NaN,/m/02rkt7x
39,2345652,/m/075f66,City of the Dead,NaT,NaN,76.0,English,United Kingdom,"Horror, Supernatural",NaN,1908-05-07,M,NaN,NaN,Valentine Dyall,51.0,/m/040qf_c,NaN,/m/02tsv9
40,2345652,/m/075f66,City of the Dead,NaT,NaN,76.0,English,United Kingdom,"Horror, Supernatural",NaN,1929-11-26,F,NaN,NaN,Betta St. John,30.0,/m/040qf_j,NaN,/m/0g_hg4
41,2345652,/m/075f66,City of the Dead,NaT,NaN,76.0,English,United Kingdom,"Horror, Supernatural",NaN,1920-10-15,F,NaN,NaN,Patricia Jessel,39.0,/m/0gc9wfm,NaN,/m/04f_hpw
42,175026,/m/017n1p,Sarah and Son,NaT,NaN,86.0,English,United States of America,"Drama, Black-and-white",NaN,1892-12-24,F,1.570,NaN,Ruth Chatterton,NaN,/m/02vcvlm,NaN,/m/0173p_
43,175026,/m/017n1p,Sarah and Son,NaT,NaN,86.0,English,United States of America,"Drama, Black-and-white",NaN,1897-08-31,M,1.780,NaN,Fredric March,NaN,/m/03l6s7d,NaN,/m/0h1_w
44,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,NaT,NaN,89.0,Japanese,Japan,"Crime Fiction, Thriller, Japanese Movies, Worl...",NaN,1933-05-15,M,NaN,NaN,Juzo Itami,40.0,/m/07lmp51,NaN,/m/02d7rn
45,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,NaT,NaN,89.0,Japanese,Japan,"Crime Fiction, Thriller, Japanese Movies, Worl...",NaN,1947-03-24,F,NaN,NaN,Meiko Kaji,26.0,/m/07lmp56,NaN,/m/0576kw
46,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,NaT,NaN,89.0,Japanese,Japan,"Crime Fiction, Thriller, Japanese Movies, Worl...",NaN,1940-02-29,M,NaN,NaN,Yoshio Harada,33.0,/m/0crv24c,NaN,/m/0chg_3
47,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,NaT,NaN,89.0,Japanese,Japan,"Crime Fiction, Thriller, Japanese Movies, Worl...",NaN,1935-08-09,F,1.570,NaN,Kazuko Yoshiyuki,38.0,/m/0cv_zxf,NaN,/m/05zs55n
48,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,NaT,NaN,89.0,Japanese,Japan,"Crime Fiction, Thriller, Japanese Movies, Worl...",NaN,1939-10-17,M,NaN,NaN,Shin Kishida,34.0,/m/0gc9vk1,NaN,/m/03ccs9p
49,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,English,United States of America,"Romantic comedy, Ensemble Film, Comedy-drama, ...",NaN,1971-09-15,M,1.800,NaN,Josh Charles,25.0,/m/03jpvdl,NaN,/m/05gnf9

In [21]:
df.describe()

,Wikipedia_movie_ID,Revenue,Runtime,Actor_height,Actor_age
count,4.506520e+05,1.010110e+05,4.001820e+05,154815.000000,292543.000000
mean,1.397024e+07,6.941638e+07,1.288529e+02,1.788896,37.788270
std,1.079653e+07,1.469650e+08,5.394779e+03,4.380067,20.588105
min,3.300000e+02,1.000000e+04,0.000000e+00,0.610000,-7896.000000
25%,3.759392e+06,3.600000e+06,8.800000e+01,1.676400,28.000000
50%,1.189156e+07,1.785493e+07,9.700000e+01,1.750000,36.000000
75%,2.366501e+07,6.696699e+07,1.120000e+02,1.830000,47.000000
max,3.750192e+07,2.782275e+09,1.079281e+06,510.000000,103.000000

In [24]:
import data_wrangler as dw

shape: (450668, 13)
shape: (81740, 9)
movie_metadata size: (81740, 9)
character size: (450668, 13)
shape: (450652, 19)
Data saved to processed_data.csv