### Loading the Character dataset

In [1]:
# imports my code from the file src/data/names_data.py
import src.data.movies_char_data as NamesData

In [2]:
characterNames = NamesData.CharacterData("Character", "character.metadata.tsv")

characterNames.clean_raw_data()
characterNames.clean_df.head()

Checking if the data is loaded from a file or from memory
Character : Loading the raw data in the attribute
data/raw/character.metadata.tsv
Character : loaded 450668 rows !
Character : Cleaning the raw data

,Wikipedia_movie_ID,Release_date,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age
0,975900,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0
1,975900,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0
2,975900,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0
3,975900,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0
4,975900,2001-08-24,Commander Helena Braddock,1949-05-26,F,1.727,/m/0x67,Pam Grier,52.0

In [1]:
import src.data.movies_char_data as NamesData

#### Loading the Movie dataset

In [ ]:
import pandas as pd
DATA_FOLDER = 'data/raw/'

MOVIE_METADATASET = DATA_FOLDER+"movie.metadata.tsv"
movie = pd.read_csv(MOVIE_METADATASET, delimiter='\t')

# size of the dataframe
print(movie.shape)

# determine the type of separate columns

print(movie.dtypes)

movie

(81740, 9)
975900                                                                                                                                                                                          int64
/m/03vyhn                                                                                                                                                                                      object
Ghosts of Mars                                                                                                                                                                                 object
2001-08-24                                                                                                                                                                                     object
14010832                                                                                                                                                                                      float64
98.0                                                                                                                                                                                          float64
{"/m/02h40lc": "English Language"}                                                                                                                                                             object
{"/m/09c7w0": "United States of America"}                                                                                                                                                      object
{"/m/01jfsb": "Thriller", "/m/06n90": "Science Fiction", "/m/03npn": "Horror", "/m/03k9fj": "Adventure", "/m/0fdjb": "Supernatural", "/m/02kdv5l": "Action", "/m/09zvmj": "Space western"}     object
dtype: object

In [3]:
movieNames = NamesData.MovieData("Movie", "movie.metadata.tsv")

movieNames.pipeline()
#movieNames.clean_df.head()

Checking if the data is loaded from a file or from memory
Movie : Loading the raw data in the attribute
data/raw/movie.metadata.tsv
Movie : loaded 81740 rows !
Movie : Loading the raw data in the attribute
data/raw/movie.metadata.tsv
Movie : loaded 81740 rows !

ValueError: Length mismatch: Expected axis has 9 elements, new values have 4 elements

### Merging into 1 big dataset

In [ ]:
from src.utils.names_utils import *
data = [movieNames, characterNames]
mov_char_data = merge_names_data(data)

mov_char_data().head() # When we call the data name object, it returns the cleaned data