In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

import pickle

# Name and movies datasets

For this project we decided to work on the CMU movie dataset containing metadata extracted from Freebase, including Movie metadata like Movie box office revenue, genre, release date, runtime, and language but also Character metada like character names and aligned information about the actors who portray them, including gender and estimated age at the time of the movie's release. 
First let's see what the 2 metadasets contains.

#### Characters
The dataset contains informations  450,669 characters aligned to the movies such as Wikipedia movie ID,  Freebase movie ID, Movie release date, Character name, Actor date of birth, Actor gender, Actor height (in meters), Actor ethnicity,Actor name, Actor age at movie release, Freebase character/actor map ID, Freebase character ID, Freebase actor ID. 


#### Movies
The dataset contains informations on 81,741 movies such as the Wikipedia movie ID, Freebase movie ID, Movie name, Movie release date, Movie box office revenue, Movie runtime, Movie languages, Movie countries, Movie genres .



## Cleaning

The cleaning task was implement in the *clean_raw_data()* method of our different CharacterData and MovieData classes implementation (by Wikipedia Movie ID) and validated using the *check_clean_data()* method, available and shared by the 2 datasets (python inheritance).

From both metadataset, we directly oberved similar features such as Wikipedia Movie ID and Freebase Movie ID that is useful for futur merge of the 2 dataset. However, as in both datasets we saw that there were several columns containing Freebase and Wikipedia IDs for actors, characters and films, we decided to put them aside as the data is too difficult to access.

This are the different steps we applied to both datasets before merging:

Character dataset:
- Load with the right spacer.
- Rename the columns for proper understanding.
- Check the good type format : Actor date of birth and the Release Date as a datetime, and the other into objects.
- Deal with missing values : we wrote them as NaN or NaT
- Droping unwanted columns
- Checking that the cleaning was made

Movie dataset :
- Load with the right spacer.
- Rename the columns for proper understanding.
- Modify the Language, Country and Genre columns:  the information was a JSON format not readable nor accessible so we isolate the information and replace it by a human-readable string format.
- Modify the datatypes of movie runtime into timedelta and the release date into a datetime object for further manipulation.
- Modify the movie Name, Language, Country and Genre:  we checked that they were in object type and modified them if not.
- Deal with missing values : we wrote them as NaN or NaT
- Dropping the unwanted columns
- Check that the cleaning was made


We kept the whole dataset with NaN and NaT values in a specific file to keep features that could be interesting even if the rate of missing values is very high (such as etchnicity or Box office revenue). However, for the following notebook, to make some we decided to remove this 2 columns since they have more than 70% missing values.


## Demo

Here, we will import and clean the data base to demonstrate the process.

In [2]:
# imports my code from the file src/data/movies_char_data.py
import src.data.movies_char_data as MovieChar

#### Characters

In [3]:
character_df = MovieChar.CharacterData("Character", "character.metadata.tsv", output_name = "character_data_clean.csv")
character_df.raw_df.head()

Character : loaded 450668 rows !

,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,Unnamed: 7,Wanda De Jesus,42,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
0,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
1,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
2,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
3,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
4,975900,/m/03vyhn,2001-08-24,Commander Helena Braddock,1949-05-26,F,1.727,/m/0x67,Pam Grier,52.0,/m/02vdcfp,/m/0bgchnd,/m/0418ft

In [4]:
# print duplicated rows
character_df.clean_raw_data()
character_df.clean_df.head()

Character : Cleaning the raw data

,Wikipedia_movie_ID,Release_date,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_name,Actor_age
0,975900,2001-08-24,LIEUTENANT MELANIE BALLARD,1974-08-15,F,1.780,NATASHA HENSTRIDGE,27.0
1,975900,2001-08-24,DESOLATION WILLIAMS,1969-06-15,M,1.727,ICE CUBE,32.0
2,975900,2001-08-24,SGT JERICHO BUTLER,1967-09-12,M,1.750,JASON STATHAM,33.0
3,975900,2001-08-24,BASHIRA KINCAID,1977-09-25,F,1.650,CLEA DUVALL,23.0
4,975900,2001-08-24,COMMANDER HELENA BRADDOCK,1949-05-26,F,1.727,PAM GRIER,52.0

In [5]:
character_df.pipeline()

Character : loaded 450668 rows !
Character : Cleaning the raw data
Character : Clean data has been and saved to data/clean/movies_char/character_data_clean.csv! (171826 rows)

####  Movie dataset

In [6]:
movie_df = MovieChar.MovieData("Movie", "movie.metadata.tsv", output_name = "movie_data_clean.csv")

#Display name and file_name
print(movie_df.name, movie_df.file_name)
movie_df.raw_df.head()

Movie : loaded 81740 rows !
Movie movie.metadata.tsv

,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science Fiction"", ""/m/03npn"": ""Horror"", ""/m/03k9fj"": ""Adventure"", ""/m/0fdjb"": ""Supernatural"", ""/m/02kdv5l"": ""Action"", ""/m/09zvmj"": ""Space western""}"
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
2,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
3,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
4,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."

In [7]:
# print duplicated rows
movie_df.clean_raw_data()
movie_df.clean_df.head()

,Wikipedia_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,3196793,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,0 days 01:35:00,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama"
1,28463795,Brun bitter,NaT,NaN,0 days 01:23:00,Norwegian,Norway,"Crime Fiction, Drama"
2,9363483,White Of The Eye,NaT,NaN,0 days 01:50:00,English,United Kingdom,"Thriller, Erotic thriller, Psychological thriller"
3,261236,A Woman in Flames,NaT,NaN,0 days 01:46:00,German,Germany,Drama
4,13696889,The Gangsters,1913-05-29,NaN,0 days 00:35:00,"Silent film, English",United States of America,"Short Film, Silent film, Indie, Black-and-whit..."

In [8]:
movie_df.pipeline()

Movie : loaded 81740 rows !
Movie : Clean data has been and saved to data/clean/movies_char/movie_data_clean.csv! (81740 rows)

## Merging Movie and Character into one dataset

We merged the 2 dataset following the Wikipedi movie ID.

In [21]:
from src.utils.movies_utils import *

mov_char_data = merge_movies_characters_data(movie_df, character_df)
mov_char_data.head() # When we call the data name object, it returns the cleaned data

# Save the class instance
mov_char_datapath = "data/clean/movies_char/movies_characters_data.pkl"
with open(mov_char_datapath, "wb") as f:
    pickle.dump(mov_char_data, f)
print(f"NamesData instance saved to {mov_char_datapath}")

Duplicates found: 412 duplicates ! removing them...
NamesData instance saved to data/clean/movies_char/movies_characters_data.pkl

In [10]:
# Print size of the dataset
print(mov_char_data.shape)

(171400, 14)

In [12]:
mov_char_data.head(1) # When we call the data name object, it returns the cleaned data

,Wikipedia_movie_ID,Movie_name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Character_name,Actor_DOB,Actor_gender,Actor_height,Actor_name,Actor_age
0,3196793,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,0 days 01:35:00,English,United States of America,"Mystery, Biographical film, Drama, Crime Drama",POLICE OFFICER,NaT,M,NaN,ALLEN CUTLER,NaN

# Names datasets

In order to answer our research questions, we needed to find some birth registries from different countries. Those were freely available and we found datasets for the following countries:

- France
- USA
- United Kingdom
- Norway

Since they all came from different places and didn't follow the same structure, we had to decide what kind of data was necessary for our project and what structure would be the most practical to work with. We ended-up with the following collumns in our dataframes:

1. **Year** : An integer value giving the year of the count 
2. **Name** :  A string representing the name that was counted
3. **Sex** : There are two possible characters, 'F' (female) and 'M' (male)
4. **Count** : An integer value giving the count of the name during this year

## Data homogenization

The cleaning task was implement in the *clean_raw_data()* method of our different NamesData classes implementation (by country) and validated using the *check_clean_data()* method, available and shared by all the name datasets (python inheritance).

### Column structure
This task was not too difficult since it was mostly reordering, renaming the ones needed and dropping the ones that were not useful for our project. We also made sure that the same type was used on the collumns of the different datasets. 

### Year 
All of our dataset had the same year format, but some had missing values in this field, which made those row useless and they were therefore discarded.
This collumn made it hard to find datasets from more countries, since a lot of them started to count only in the early 2000's, which doesn't give us enough data to detect real changes in the distribution. (The movie data base ends in 2012)

### Name
This was the hardest column to sanitize and clean since a lot of variation of a same name are possible. We ended by defining a regex expression do define what we would accept as a valid name : ^[A-Z-\s\']+$

This allows us to limit ourselves to names composed only of capitalized letters, spaces, '-' for composed names and ''' for the some regional variations. This rule is really strict and would have made us lose a considerable proportion of our dataset. This is where the data cleaning process came to help homogenize our data and it mainly consisted of the following operations:

- Converting all the name to uppercase
- Removing all accents on letter, for example é becomes e.

Some names have different spellings, for example you can write JEREMY and JEREMIE, but we decided to count this as two separate entries since grouping "similar" is out of the scope of this project and is not an uniformised concept.

### Sex
The french dataset had some integer values that we converted to the expected format. This field is useful for our research questions, but complicated the dataset research, since a lot of countries did not include this information in their registries.

### Validation

The python class representing our datasets contains a method *check_clean_data()* that checks multiple conditions to be sure that the data is uniform. 

- Checks the collumns' name
- Checks if some missing values are present
- Checks the data type of each collumn
- Checks for duplicated rows (same name, same sex and same name)
- Checks that the strings respects the defined regex expressions
- Checks that the counts and years are coherent numbers 

## Demo

Here, we will import and clean the data base to demonstrate the process.

In [ ]:
import src.data.names_data as NamesData
ukNames = NamesData.UKNamesData("UK", "ukbabynames.csv")

# The raw data directly from the file
ukNames.raw_df.head()

In [ ]:
# We can call the cleaning method, which will correct the columns' names and ordering, and clean the content
ukNames.clean_raw_data()
ukNames().head() #  This is the cleaned data

In [ ]:
frenchNames = NamesData.FranceNamesData("France", "france.csv", "https://www.insee.fr/fr/statistiques/8205621?sommaire=8205628#dictionnaire", ";")

frenchNames.raw_df.head()

In [ ]:
frenchNames.clean_raw_data()
frenchNames().head()

In [ ]:
USNames = NamesData.USNamesData("US", "babyNamesUSYOB-full.csv")
USNames.raw_df.head()

In [ ]:
USNames.clean_raw_data()
USNames().head()

In [ ]:
norvegianNames = NamesData.NovergianNamesData("Norway", "norway/norway_merged.csv")
norvegianNames.raw_df.head()

In [ ]:
norvegianNames.clean_raw_data()
norvegianNames().head()

### Merging the datasets
If we want to answer a question with no regards to the provenance of the names, we can use our function to group all the datasets together

In [ ]:
from src.utils.names_utils import merge_names_data

global_names = merge_names_data([ukNames, frenchNames, USNames, norvegianNames])
global_names.clean_df.head()
print(f"The merged dataset contains {global_names.clean_df.shape[0]} rows ! ")

# Creating a dataframe and saving it


#saving global names data into a .csv file
global_names_datapath = "data/clean/names"
global_names.clean_df.to_csv(f'{global_names_datapath}/global_names.csv', index=False)

In [ ]:
import pickle

# Save the class instance
global_names_path = "data/clean/names/global_names.pkl"
with open(global_names_path, "wb") as f:
    pickle.dump(global_names, f)

print(f"NamesData instance saved to {global_names_path}")

## Feature Visualization

Lets visualize the different information from the datasets.

In [26]:
from src.utils.data_utils import *

In [ ]:
# Number of Nan values in the Movies & Character dataset
mov_char_data.isna().sum()

In [ ]:
# Visualizing the number of missing values per columns
nan_percentage = mov_char_data.isnull().mean().sort_values(ascending=False)

# Plot the percentage of NaN values per column
ax = nan_percentage.plot(kind='bar', figsize=(16, 8), color='skyblue')
plt.ylabel('Percentage of NaN values')
plt.title('Percentage of NaN values in % per column', fontsize=20)
for p in ax.patches:
    ax.annotate(f'{p.get_height():.2%}', (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center', xytext=(0, 10), textcoords='offset points')
plt.show()

This graph illustrates the distribution of columns based on the percentage of NaN values present in each. It helps us understand how missing data is spread across different features, highlighting columns with higher or lower levels of incompleteness

Top 50 movies revenue 
This graph displays the top 50 movies based only on the revenue.

In [ ]:
# Descriptive statistics for each column in dataframe with .head() method
mov_char_data.describe(include='all').head()

#### Information about actor age

We have here histogram plots showing the distribution of 3 features of the dataset: Actor age at the time of the movie release, Actor height and  Revenue of the movies.

In [ ]:
# Distribution of actor age
sns.histplot(mov_char_data['Actor_age'], color='skyblue', kde=True, bins=30)
plt.xlim(0, mov_char_data['Actor_age'].max())
plt.title('Distribution of actor age')
plt.xlabel('Age')
plt.ylabel('Frequency')

plt.show()

Comment: The distribution of Actor age is approximately normal with a peak around the age of 30. This suggests that most actors are around 30 years old at the time of the movie release, with fewer actors being significantly younger or older.

Let's check the type of distribution and the skewness of the data.

In [ ]:
check_normality(mov_char_data['Actor_age'])
check_skewness(mov_char_data['Actor_age'])

#### Information about actor height

In [ ]:
# Distribution of actor_height
sns.histplot(mov_char_data['Actor_height'], color='skyblue', kde=True, bins=30)
plt.xlim(0, mov_char_data['Actor_height'].max())
plt.title('Distribution of actor height')
plt.xlabel('Height')
plt.ylabel('Frequency')

In [ ]:
# Dealing with height outliers: 
print( "max value:", mov_char_data['Actor_height'].max())
#how many lines have 510 height
print("number of lines have the max value: ", mov_char_data[mov_char_data['Actor_height'] == 510].shape[0])

# Actor_name of all the actor with the max height
print("Actor name with max values: ", mov_char_data[mov_char_data['Actor_height'] == 510]['Actor_name'])

# Replace the height of 510feet by 1.78m
mov_char_data['Actor_height'] = mov_char_data['Actor_height'].replace(510, 1.78)

# Check if the value has been replaced
print(mov_char_data[mov_char_data['Actor_height'] == 510].shape[0])

In [ ]:
# Checking the new max value
print(mov_char_data['Actor_height'].max()) # 180
# Number of lines with 180 height
print("Number of lines with 180 height: ", mov_char_data[mov_char_data['Actor_height'] == 180].shape[0])
# Replace 180 by 1.80
mov_char_data['Actor_height'] = mov_char_data['Actor_height'].replace(180, 1.80)
# Check if the value has been replaced
print("Number of lines containing 180 now : ", mov_char_data[mov_char_data['Actor_height'] == 180].shape[0])

In [ ]:
# Visualize the distribution of actor height
# adapting the min and max values of the x-axis
sns.histplot(mov_char_data['Actor_height'], color='skyblue', kde=True, bins=30)
plt.xlim(mov_char_data['Actor_height'].min(), mov_char_data['Actor_height'].max())
plt.title('Distribution of actor height')
plt.xlabel('Height')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# print the different values of actor height
print(mov_char_data['Actor_height'].unique())

#min value
print("min value:", mov_char_data['Actor_height'].min())


# what are the lines of the min value
print("number of lines have the min value: ", mov_char_data[mov_char_data['Actor_height'] == 0.61].shape[0])
#print actor name of the min value
print("Actor name with min values: ", mov_char_data[mov_char_data['Actor_height'] == 0.61]['Actor_name'])

The first visualization showed 2 outliers, actors with height of 5m10:  Benedict Smith and Vince Corrazza. Checking on the web their height, we saw that is was a mistakes. We replace the 2 outliers by their real height : 1,78 m. A similar problem with 180cm instead of 1.80m for some actors. For the min values, they usually correspond to babies height.

In [ ]:
check_normality(mov_char_data['Actor_height'])
check_skewness(mov_char_data['Actor_height'])

#### Information about the Revenue

In [ ]:
# Distribution of Revenue in the dataset
plt.figure(figsize=(12, 6))
sns.histplot(mov_char_data['Revenue'], bins=30, kde=True, log_scale=True)
plt.title("Distribution of Revenue (billion dollars)")
plt.show()

This histogram plot show the distribution of Actor age at the time of the movie release and Revenue of the movies. Log scale is used to better visualize the distribution of the data. The distribution of Revenue is right-skewed, meaning that most of the revenue values are concentrated on the lower end, with a long tail extending towards the higher revenue values.

In [ ]:
check_normality(mov_char_data['Revenue'])
check_skewness(mov_char_data['Revenue'])

####  Visualizing the top 50 movies with biggest Revenue

In [ ]:
# Group by the Movie name 
top_50_movies = mov_char_data.groupby('Movie_name')['Revenue'].sum().sort_values(ascending=False).head(50)

plt.figure(figsize=(16, 8))
sns.barplot(x=top_50_movies.values, y=top_50_movies.index, palette='viridis')
plt.xlabel('Revenue (billion dollars)')
plt.ylabel('Movie Name')
plt.title('Top 50 movies with biggest Revenue', fontsize=20)
plt.show()

#### Information about Release_date

In [ ]:
# Visualizing the Release_date column information with sns with the number of movies on the top of each bar
plt.figure(figsize=(10, 5))
sns.histplot(mov_char_data['Release_date'].dt.year.dropna(), bins=range(1900, 2025, 1), kde=False)
plt.title('Number of movies released per year')
plt.xlabel('Year')
plt.ylabel('Number of movies')
plt.show()

#### Information about countries

In [ ]:
# grouping the movies by country
movies_by_country = mov_char_data['Countries'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename('Country')
movies_by_country = movies_by_country[movies_by_country != ''].value_counts()

plt.figure(figsize=(20, 10))
sns.barplot(x=movies_by_country.head(50), y=movies_by_country.head(50).index)

for i, val in enumerate(movies_by_country.head(50)):
    plt.text(val, i, val, ha='left', va='center')

plt.title('Number of movies by country, font size = 20')
plt.xlabel('Number of movies')
plt.ylabel('Country')
plt.show()

It is obvious that the initial dataset is centered on occidental world, aside from the presence of indian movies. Fortunately it coincides with the fact that it is harder for us to find baby names data from non-occidental countries.

#### Information about language

In [ ]:
# grouping the movies by language
movies_by_language = mov_char_data['Languages'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename('Languages')
movies_by_language = movies_by_language[movies_by_language != ''].value_counts()


plt.figure(figsize=(20, 10))
sns.barplot(x=movies_by_language.head(50), y=movies_by_language.head(50).index)

for i, val in enumerate(movies_by_language.head(50)):
    plt.text(val, i, val, ha='left', va='center')

plt.title('Number of movies by language', fontsize=25)
plt.xlabel('Number of movies')
plt.ylabel('Language')
plt.show()

#### Information about movies genre

In [ ]:
# Visualizing the genres of the movies with a pie chart (under 1% grouped as 'Other')


# Grouping the movies by genre and counting the number of movies in each genre
movies_by_genre = mov_char_data['Genres'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename('Genre')
movies_by_genre = movies_by_genre[movies_by_genre != ''].value_counts()

# Grouping the genres with less than 1% of the total number of movies as 'Other'
threshold = 0.01
total_movies = movies_by_genre.sum()
movies_by_genre = movies_by_genre[movies_by_genre / total_movies > threshold]
movies_by_genre['Other'] = total_movies - movies_by_genre.sum()



# Visualizing the genres of the movies with a pie chart
# adapt the size of the % on the pie chart to 1 decimal

plt.figure(figsize=(15, 15))
plt.pie(movies_by_genre, labels=movies_by_genre.index, autopct='%1.1f%%') 

plt.title('Genres of the movies')
plt.show()

#### Information about the actor gender

In [ ]:
# Isolting the genders columns
new_df = mov_char_data[['Actor_gender', 'Actor_name']]
new_df.head()


gender_counts = new_df['Actor_gender'].value_counts()

# Calculate percentages
gender_percentages = gender_counts / gender_counts.sum() * 100

# Plotting the percentages using a pie chart
plt.figure(figsize=(4, 4))
plt.pie(gender_percentages, labels=gender_percentages.index, autopct='%1.1f%%', startangle=90)
plt.title('Percentage of Actor Genders')
plt.show()

### Correlation matrix

In [46]:
def encode_categorical_features(df):
    # Identify categorical features
    categorical_features = df.select_dtypes(include=['object', 'category']).columns
    
    # Initialize a LabelEncoder
    le = LabelEncoder()
    
    # Apply label encoding to each categorical feature
    for feature in categorical_features:
        df[feature] = le.fit_transform(df[feature].astype(str))
    
    return df

def plot_correlation_matrix(df):
    # Encode categorical features
    df_encoded = encode_categorical_features(df.copy())
    
    # Calculate the correlation matrix, automatically excluding NaN values
    corr_matrix = df_encoded.corr()
    
    # Plot the heatmap
    plt.figure(figsize=(12, 10))
    sns.heatmap(corr_matrix, annot=True, fmt='.2f', cmap='coolwarm', cbar=True, square=True)
    plt.title('Correlation Matrix')
    plt.show()

In [ ]:
plot_correlation_matrix(mov_char_data)

We observe some very slight relationships within the movie and character dataset: a moderate positive correlation between 'Runtime' and 'Revenue' suggests that longer movies tend to generate more revenue. Conversely, a negative correlation between 'Languages' and 'Countries' indicates that films with more languages are produced in fewer countries, highlighting trends in film production and distribution.

## Trend evaluation
To assess what impact a movie had on child naming, we first try a simple model that computes the average count of babies named like a character 5 years before and 5 years after the movie's release, and compute their difference. The higher it is, the higher the trend the year the film was released.

Here is a demo of the model printing the top10 trend-inducing character names

In [14]:
from src.models.trend_evaluation import trend_eval_ranking
from src.models.imdb_manipulation import get_movie_votes, merge_imdb_and_dataset, is_blockbuster

# Get the IMDB votes for the movies (Warning : might take a few minutes, nearly 700K rows !)
imdb_datapath = "data/raw/imdb"
imdb_votes = get_movie_votes(imdb_datapath)
imdb_votes.head()

There are 699357 movies in the imdb dataset.
There are 1507095 movies in the title dataset.
There are 321461 movies in the title-basic merged dataset before treating duplicates.

            primaryTitle  weightedAverageRating  totalVotes
0  !Women Art Revolution                    6.9       262.0
1       #1 Serial Killer                    5.6        73.0
2             #1915House                    3.4        20.0
3                     #5                    4.7        21.0
4             #50Fathers                    3.7        12.0

In [15]:
# Looking for blockbuster:

# Apply the function to the DataFrame
imdb_votes['isBlockbuster'] = imdb_votes.apply(is_blockbuster, axis=1)
# Display the 10 most influent blockbusters based on votes
imdb_votes.sort_values('totalVotes', ascending=False).head(10)

,primaryTitle,weightedAverageRating,totalVotes,isBlockbuster
247302,The Shawshank Redemption,9.3,2971050.0,True
226953,The Dark Knight,9.0,2952379.0,True
108105,Inception,8.8,2619982.0,True
79354,Fight Club,8.8,2403489.0,True
82601,Forrest Gump,8.8,2324952.0,True
182204,Pulp Fiction,8.9,2280958.0,True
109329,Interstellar,8.7,2211329.0,True
239992,The Matrix,8.7,2108846.0,True
232097,The Godfather,9.2,2072334.0,True
238458,The Lord of the Rings: The Fellowship of the Ring,8.9,2063322.0,True

In [20]:
# Save the class instance
imdb_clean_datapath = "data/clean/imdb/imdb_of_interest.pkl"
with open(imdb_clean_datapath, "wb") as f:
    pickle.dump(imdb_votes, f)

print(f"DataFrame saved to {imdb_clean_datapath}")

DataFrame saved to data/clean/imdb/imdb_of_interest.pkl

In [17]:
import os

# Merging IMDB with our movie + character dataset
expanded_datapath = "data/clean/expanded"
expanded_df = merge_imdb_and_dataset(imdb_votes, mov_char_data)
expanded_df.head(10)

# Ensure the directory exists
os.makedirs(expanded_datapath, exist_ok=True)

# saving expanded_df to a csv file
expanded_df.to_csv(f'{expanded_datapath}/expanded_df.csv', index=False)

Size of imdb dataset before merging:  (284599, 4)
Size of mov_char_data dataset before merging:  (171400, 14)
There are 171400 rows in the merged dataset

In [22]:
# Save the class instance
expanded_datapath = "data/clean/expanded/expanded_df.pkl"
with open(expanded_datapath, "wb") as f:
    pickle.dump(expanded_df, f)

print(f"NamesData instance saved to {expanded_datapath}")

NamesData instance saved to data/clean/expanded/expanded_df.pkl

In [ ]:
import plotly.express as px
# Merge the movies and characters data with the IMDB votes
char_movies_rating = merge_imdb_and_dataset(imdb_votes, mov_char_data)

# Print number of movies represented in the dataset
print(f"The dataset contains {char_movies_rating.value_counts(subset='Movie_name').shape[0]} movies !")

# Split genres and normalize
df = char_movies_rating.copy().drop_duplicates(subset=["Movie_name"])
df_genres = df.assign(Genres=df["Genres"].str.split(", ")).explode("Genres")

# Count occurrences of each genre
genre_counts = df_genres["Genres"].value_counts().reset_index()
genre_counts.columns = ["Genre", "Count"]

# Select the top 10 genres
top_10_genres = genre_counts.head(10)

# Create horizontal bar graph
fig = px.bar(
    top_10_genres,
    x="Count",
    y="Genre",
    orientation="h",  # Horizontal orientation
    title="Top 10 Most Represented Genres in Movies Dataset",
    labels={"Count": "Number of Movies", "Genre": "Genre"},
    text="Count",
    color="Genre"
)

# Style the graph for better readability
fig.update_traces(textposition="outside")
fig.update_layout(
    xaxis=dict(title="Number of Movies"),
    yaxis=dict(title="Genre"),
    plot_bgcolor="white",
    showlegend=False
)

fig.show()
fig.write_html("top_10_genres.html")

# Print sum of counts
print(f"Sum of counts: {genre_counts['Count'].sum()}")
genre_counts.head()

In [ ]:
# Ranking top 10 influencing character names by trend increase
from src.models.trend_evaluation import trend_eval_ranking

def trend_eval_ranking(df_babies, df_movies):
    """
    Function to evaluate the trend of a name based on the ranking of a movie character
    :param names_data: NamesData object
    :param mov_char_data: MovieCharacterData object
    :return: DataFrame
    """
    # Creating a new column for the release year (without month and day) of the movie
    df_movies['Release_year'] = df_movies['Release_date'].dt.year
    # Ditching entries with nan revenue 
    df_movies = df_movies.dropna(subset=['Revenue'])
    # Taking only the first name of the character name
    df_movies.loc[:, 'Character_name'] = df_movies['Character_name'].str.split().str[0]
    # Putting every character name in upper case
    df_movies.loc[:, 'Character_name'] = df_movies['Character_name'].str.upper()

    # Taking only characters of the top 100 characters by revenue every year
    df_movies = (df_movies[df_movies["totalVotes"] >= 100000]
        .groupby('Release_year')
        .apply(lambda x: x.nlargest(100, 'weightedAverageRating'))
        .reset_index(drop=True))

    merged_df = df_babies.merge(
        df_movies[['Character_name', 'Release_year', 'Movie_name']],
        left_on='Name', right_on='Character_name',
        how='inner'
    )


    # Function to analyze the trend of a character name
    def analyze_trend(group, window_before = 5, window_after = 5):
        movie_name = group['Movie_name'].iloc[0]
        release_year = group['Release_year'].iloc[0]
        pre_movie = group[(group['Year'] < release_year) & (group['Year'] >= release_year - window_before)]
        post_movie = group[(group['Year'] >= release_year) & (group['Year'] <= release_year + window_after)]
        pre_avg = pre_movie['Count'].mean()
        post_avg = post_movie['Count'].mean()
        trend_increase = post_avg - pre_avg
        return pd.Series({'pre_avg': pre_avg, 'post_avg': post_avg, 'trend_increase': trend_increase, 'movie_name': movie_name, 'release_year': release_year})



    # Apply the function to each character name
    groupedByName =  merged_df.groupby('Character_name')
    trend_df = groupedByName.apply(analyze_trend).reset_index()
    ranking = trend_df.sort_values('trend_increase', ascending=False)
    return ranking


ranking = trend_eval_ranking(global_names.clean_df, expanded_df)
print(ranking[["Character_name","movie_name","release_year"]].head(10))

### Trend visualisation
Using the previously computed trend-inducing movies, we can now plot the baby name popularity over time with a red line on the year of the most influential movie for this name.

Note that we need to indicate the name in uppercase for compatibility with name datasets and add the gender M/F to avoid confusion for androgenous names.

In [ ]:
from src.models.trend_evaluation import plot_trend

plot_trend("NEO", "M", ranking, global_names.clean_df)

## Name prediction

To answer our research questions, we needed to find a method to determine if after a specific date, the count of name would follow an abnormal evolution.

There are multiple ways to do it and for our first tentative, we decided to try interrupted time series.

### ITS - Interrupted time series
The concept is rather simple: at a specific point in time, we split our measurements in two parts and use the first one to train a model. This model will try to predict what the evolution would have been based on the previous behaviour and once we get it, we can compare it with the second part of the data that we kept. 

As mentioned in the explanation, we need to chose a model for this and after some researches, we decided to try the two following ones.

We are still evaluating how well they are suited for our project, since the training sample is quite limited due to the granularity of the data. (Count is by year)

#### SARIMA - Seasonal Autoregressive Integrated Moving Average
Well known model for univariate time series forecasting, SARIMA is an extension of the ARIMA model and adds the support for time series with a seasonal behaviour in addition to the trend support of ARIMA.

In [ ]:
from src.models.naming_prediction import predict_naming_ARIMA

prediction = predict_naming_ARIMA(global_names, "LUKE", 1976, 10, True)

Here we asked our SARIMA model to forecast the counts for the name "Luke" from the year after the year 1976, which is when the first Star Wars movie was released. 

We can see that the the modelled curve has a slower growth than the actual one and this can be used to show an abnormal evolution of the count.

#### Prophet
Developped by Facebook, Prophet is a fully automatic procedure made for time series forecasting that is used in various context due it's wide range of features (seasonality, holidy effect, ...)

In [ ]:
from src.models.naming_prediction import predict_naming_prophet

prediction = predict_naming_prophet(global_names, "LUKE", 1976, 10, True)

This time, we use Facebook's Prophet to forecast the counts for the same parameters and we can already see a difference between the two models. Prophet is generally more resistant to outliers and here, this leads to a more important difference between the modelled data and the actual one.

For now, those are only observations and we'll be investigated more thoroughly in the following days

#### Model conclusion
We still need to compare the two models and see if the ITS approach would be beneficial for our project since other options are available.